{% extends 'feature_request/feature_add.html' %}

{% block 'title' %}
    <title>Edit Feature Detail</title>
{% endblock %}

{% block 'content' %}
    <a href="{% url 'feature_listing' %}" class="btn btn-primary pull-right mr-175 mb-25" style="margin-top:-75px">Feature List</a>
    <a href="{% url 'logout' %}" class="btn btn-default pull-right mr-75 mb-25" style="margin-top:-75px">Log Out</a>
    <div class="container mt-100">
        <p class="text-center welcome-txt">Edit Feature Detail</p>
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <td><b>Title</b></td>
                    <td>
                        <input type="text" value="{{feature.title}}" id="title" class="col-md-3">
                        <input type="text" value="{{feature.id}}" hidden="hidden" id="feature_id">
                    </td>
                </tr>
                <tr>
                    <td><b>Description</b></td>
                    <td><input type="text" value="{{feature.description}}" id="description" class="col-md-3"></td>
                </tr>
                <tr>
                    <td>Client</td>
                    <td>
                        <select class="form-control" style="width:25%" id="client" readonly disabled="disabled">
                            {% for client in clients %}
                                <option {% if client.id == feature.client.id %} selected="selected" {% endif %} value="{{client.id}}">{{client.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>Priority</b></td>
                    <td><input type="number" min="1" value="{{feature.priority}}" id="priority" readonly disabled="disabled" class="col-md-3"></td>
                </tr>
                <tr>
                    <td>Product</td>
                    <td>
                        <select class="form-control" style="width:25%" id="product">
                            {% for product in products %}
                                <option {% if product.id == feature.product.id %} selected="selected" {% endif %} value="{{product.id}}">{{product.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><b>Target Date</b></td>
                    <td>
                        <div id="target_date" class="input-group date col-md-3" data-date-format="yyyy-mm-dd">
                            <input class="form-control" type="text" value="{{feature.target_date | date:'Y-m-d' }}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </td>
            </tbody>
        </table>
        <button class="btn btn-success" onclick="add_edit_feature()">Save</button>
    </div>
{% endblock %}