{% extends 'users/index.html' %}

{% block 'title' %}
    <title>Feature List</title>
{% endblock %}

{% block 'content' %}
    <a href="/feature/add/" class="btn btn-primary pull-right mr-175 mb-25" style="margin-top:-75px">Add Feature</a>
    <a href="{% url 'logout' %}" class="btn btn-default pull-right mr-75 mb-25" style="margin-top:-75px">Log Out</a>
    <div class="container mt-100">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Client Name</th>
                    <th>Priority</th>
                    <th>Target Date</th>
                    <th>Product</th>
                </tr>
            </thead>
            <tbody>
                {% for feature in object_list %}
                    <tr>
                        <td>
                            <span class="pull-left"><a href="{% url 'feature_detail' feature.id %}">{{feature.title}}</a></span>
                            <span class="pull-right"><a href="/feature/edit/{{feature.id}}/">Edit</a></span>
                        </td>
                        <td>{{feature.client.name}}</td>
                        <td>{{feature.priority}}</td>
                        <td>{{feature.target_date | date}}</td>
                        <td>{{feature.product.name}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}