{% extends 'users/index.html' %}

{% block 'title' %}
    <title>Sign Up</title>
{% endblock %}

{% load static %}
{% load staticfiles %}

{% block 'content' %}
    <p class="text-center welcome-txt mt-50">Sign In</p>
    <div class="mt-25 ml-350">{% csrf_token %}
        <div class="row">
            <div class="form-group col-md-4">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" placeholder="Enter First Name" id="first_name">
            </div>
            <div class="form-group col-md-4">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" placeholder="Enter Last Name" id="last_name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Enter Email" id="email">
            </div>
            <div class="form-group col-md-4">
                <label for="contact_number">Mobile Number</label>
                <input type="text" class="form-control" placeholder="Enter Mobile Number" id="contact_number" maxlength="10">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="e_code">Employee Code</label>
                <input type="text" class="form-control" placeholder="Enter Employee Code" id="e_code">
            </div>
            <div class="form-group col-md-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" id="password" maxlength="6">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label for="department">Department</label>
                <select class="form-control" style="width:101%" id="d_code">
                    <option value="">Select Department</option>
                    {% for department in departments %}
                        <option value="{{department.id}}">{{department.name}} - ({{department.d_code}})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 mt-25">
                <a href="{% url 'signup' %}" class="btn btn-primary">Cancel</a>
            </div>
            <div class="col-md-1 mt-25">
                <button class="btn btn-success pull-left" onclick="signup()">Submit</button>
            </div>
        </div>
    </div>

{% endblock %}