{% extends 'users/index.html' %}

{% block 'title' %}
    <title>Sign In</title>
{% endblock %}

{% load static %}
{% load staticfiles %}

{% block 'content' %}
    <a href="{% url 'signup' %}" class="btn btn-primary pull-right mr-75 mb-25 mt-15">Sign Up</a><br>
    <p class="text-center welcome-txt mt-100">Sign In</p>
    <div class="mt-25 ml-500">{% csrf_token %}
        <div class="row">
            <div class="form-group col-md-5">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="Enter Email" id="email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" id="password" maxlength="6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 mt-25">
                <a href="{% url 'signin' %}" class="btn btn-primary">Cancel</a>
            </div>
            <div class="col-md-1 mt-25 ml-15">
                <button class="btn btn-success" onclick="signin()">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}